In [2]:
import pandas as pd

# Series in Panda

## Building by list

In [4]:
a=['Name', 'Family']
b=['Mohammad', 'Khalili']
f=pd.Series(b, a)
f

Name      Mohammad
Family     Khalili
dtype: object

### Other formats

In [8]:
f=pd.Series(b, index=['Nmae-1', 'Family-1'])
f

Nmae-1      Mohammad
Family-1     Khalili
dtype: object

## Building by dictionary

In [6]:
a={'Name':'Mohammad', 'Family':'Khalili'}
f=pd.Series(a)
f

Family     Khalili
Name      Mohammad
dtype: object

### Other formats

In [11]:
f=pd.Series(a, index=['Given-Name', 'Family'])
f

Given-Name        NaN
Family        Khalili
dtype: object

In [15]:
f=pd.Series([1,44,5,77,8,9])
f

0     1
1    44
2     5
3    77
4     8
5     9
dtype: int64

## Quering a Series

In [13]:
a=['Name', 'Family']
b=['Mohammad', 'Khalili']
f=pd.Series(b, a)
f.iloc[0]

'Mohammad'

In [14]:
f.loc['Family']

'Khalili'

## Appending series

In [18]:
a=['Name', 'Family']
b=['Mohammad', 'Khalili']
s1=pd.Series(b, a)
s2=pd.Series({'City' : 'Tehran', 'Country':'Iran'})
s3=s1.append(s2)
s3

Name       Mohammad
Family      Khalili
City         Tehran
Country        Iran
dtype: object

# Data Frame

In [19]:
a={'Name':'Mohammad', 'Family':'Khalili'}
c1=pd.Series(a)
a={'Name':'Ali', 'Family':'Alizadeh'}
c2=pd.Series(a)
df=pd.DataFrame([c1,c2])
df

     Family      Name
0   Khalili  Mohammad
1  Alizadeh       Ali

In [20]:
a={'Name':'Mohammad', 'Family':'Khalili'}
c1=pd.Series(a)
a={'Name':'Ali', 'Family':'Alizadeh'}
c2=pd.Series(a)
df=pd.DataFrame([c1,c2],['P1', 'P2'])
df

      Family      Name
P1   Khalili  Mohammad
P2  Alizadeh       Ali

## Appending two data frames

In [29]:
a={'Name':'Mohammad', 'Family':'Khalili'}
c1=pd.Series(a)
a={'Name':'Ali', 'Family':'Alizadeh'}
c2=pd.Series(a)
df=pd.DataFrame([c1,c2],['P1', 'P2'])
a={'Name':'A1', 'Family':'F1'}
c1=pd.Series(a)
a={'Name':'A2', 'Family':'F2'}
c2=pd.Series(a)
df2=pd.DataFrame([c1,c2])
df3=df.append(df2)
df3

      Family      Name
P1   Khalili  Mohammad
P2  Alizadeh       Ali
0         F1        A1
1         F2        A2

## Working with iloc and loc in data frames

http://www.ritchieng.com/pandas-selecting-multiple-rows-and-columns/

In [31]:
import os
os.getcwd()

'C:\\Users\\mohammad'

In [34]:
ufo = pd.read_csv('ufo.csv')

In [36]:
# show first 3 shows
ufo.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [43]:
# .loc DataFrame method
# filtering rows and selecting columns by label

# format
# ufo.loc[rows, columns]

# row 0, all columns
ufo.loc[0, :]

# rows 0, 1, 2
# all columns

ufo.loc[[0, 1, 2], :]

# more efficient code
ufo.loc[0:2, :]

# ufo.loc[[0:2], :] ------> invalid syntax

# if you leave off ", :" pandas would assume it's there
# but you should leave it there to improve code readability
ufo.loc[0:2]

# all rows
# column: City
ufo.loc[:, 'City']

# all rows
# column: City, State
ufo.loc[:, ['City', 'State']]

# similar code for City through State
ufo.loc[:, 'City':'State']

#Just a cell
ufo.loc[0,'City']

ufo.loc[0:2, 'City':'State']  # ---> note that it includes 2

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

### Working with iloc

In [52]:
ufo.iloc[:, [0, 3]]
# iloc excludes 4 (compared to loc where it includes 4)
# iloc includes 0
ufo.iloc[:, 0:4]

# this is the major difference
# exclusive of 3
ufo.iloc[0:3, :]


# non-explicit code
ufo[['City', 'State']]
# explicit code
ufo.loc[:, ['City', 'State']]

# ambiguous code again, are we referring to rows or columns?
ufo[0:2]
# use iloc!
ufo.iloc[0:2, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00